.btn {
	background: $primaryButton;
	border-radius: 20px;
	color: white;
	cursor: pointer;
	margin: 5px;
	padding: 8px 16px;

	&.btn-invert {
		background: transparent;
		border: 3px solid currentColor;
		color: $primaryButton !important;
		padding: 6px 16px;
	}

	&.btn-square {
		border-radius: 0px;
		margin: 0 34px;
		width: calc(100% - 34px - 34px);
	}


	&.btn-active,
	&.active {
		background-color: $activeButton;
	}
}
