.btn {
	background-color: $primaryButton;
	border-radius: 20px;
	color: white;
	cursor: pointer;
	margin: 5px 5px;
	padding: 8px 16px;
}

.btn-active,
.mixitup-control-active {
	background-color: $activeButton;
}
