.navbar {
	position: absolute;
	width: 100%;
	z-index: 100;

	.container {
		width: 80%;
		left: 10%;
		margin: 40px auto;
	}

	.navbar-brand {
		img {
			width: 150px;
		}
	}

	.nav-link {
		color: $primaryColor !important;

		&.nav-active {
			font-weight: bold;
			text-decoration: underline;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&.bg-faded {
		background: linear-gradient(rgba(0, 0, 0, 0.50) 27%, rgba(255, 255, 255, 0) 100%);
	}

	&.navbar-dark {
		.nav-link {
			color: #000 !important;
		}
	}
}
