.quote-block {
	background-color: $secondaryColor;
	padding: 50px 50px 55px;
	text-align: center;

	.quote-block-text {
		font-family: $primaryFont;
		font-size: 26px;
		padding: 5px;
	}

	.quote-block-sub-text {
		width: 60%;
		margin: 15px auto 0;
		font-family: $secondaryFont;
		font-size: 16px;
	}

	&:not(.text-center) {
		.quote-block-sub-text {
			text-align: justify;
		}
	}
}

.quote-link {
	background: $secondaryColor;
	color: $primaryColor;
	overflow: auto;
	transition: background 0.5s;

	> a {
		color: inherit;
		text-decoration: none;
	}

	.container {
		padding: 40px;

		> .fa {
			float: right;
			margin-top: 20px;
		}

		> h2 {
			font-family: $primaryFont;
		}

		> h5 {
			font-family: $secondaryFont;
			margin: 0;
		}
	}

	&:hover {
		background: darken($secondaryColor, 5);
	}
}
