.quote-block {
	background-color: $secondaryColor;
	padding: 50px;
	text-align: center;

	.quote-block-text {
		font-family: $primaryFont;
		font-size: 26px;
		padding: 5px;
	}

	.quote-block-sub-text {
		width: 60%;
		margin: 0 auto;
		font-family: $secondaryFont;
		font-size: 16px;
	}
}
