$primaryColor: #FFFFFF;
$secondaryColor: #02A798;
$activeButton: #8F481A;
$primaryButton: #618F62;

$primaryFont: 'Bitter', serif;
$secondaryFont: 'Arial', sans-serif;

@import "defaults";
@import "buttons";
@import "navbar";
@import "hero";
@import "map";
@import "quote";
@import "content";
@import "team";
@import "popup";
@import "video";
@import "footer";
