$primaryColor: #FFFFFF;
$secondaryColor: #02A798;
$activeButton: #8F481A;
$primaryButton: #618F62;

$primaryFont: 'Bitter', serif;
$secondaryFont: 'Arial', sans-serif;


* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	color: white;
	font-family: $secondaryFont
}

.btn {
	background-color: $primaryButton;
	color: white;
	border-radius: 20px;
	padding: 8px 16px;
	margin: 0 5px;
}

.btn-active {
	background-color: $activeButton;
}

.navbar {
	position: absolute;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.50) 27%, rgba(255, 255, 255, 0) 100%);

	.container {
		width: 80%;
		left: 10%;
		margin: 40px auto;
	}

	.nav-link {
		color: $primaryColor !important;
	}
}

.hero {
	width: 100vw;
	height: 80vh;
	background-image: url("../img/hero.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.quote-block {
	background-color: $secondaryColor;
	padding: 50px;
	text-align: center;
	.quote-block-text {
		font-family: $primaryFont;
		font-size: 26px;
		padding: 5px;
	}

	.quote-block-sub-text {
		width: 60%;
		margin: 0 auto;
		font-family: $secondaryFont;
		font-size: 16px;
	}
}

.content {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0;
	overflow: auto;
	.filters {
	}
	.container {
		padding: 20px;
		.portfolio-item {
			background-color: grey;
			float: left;
			min-height: 200px

		}
	}
}

.team-link {
	background-color: $secondaryColor;
	color: $primaryColor;
	padding: 40px;
	overflow: auto;

	.col-md-8, .col-md-4 {
		float: left;
		height: 100%;
		vertical-align: middle;
	}

	.fa-chevron-right {
		float: right;
		margin-top: 25px;
	}
}

footer {
	background-color: #333;
	color: $primaryColor;
	overflow: auto;
	padding: 50px;
	width: 100%;

	hr {
		width: 100%;
		margin: 90px 0 20px;
		background-color: #666;
	}

	.col-md-4 {
		padding: 0px;
		float: left;
		text-align: center;

		ul {
			list-style-type: none;

			li {
				display: inline;
				vertical-align: middle;

				a {
					color: $primaryColor;
					padding: 5px 10px;
				}

				a:hover {
					color: darken($primaryColor, 20%);
					text-decoration: none;
				}
			}
		}
	}
	.copyright {
		width: 80%;
		margin: 0 auto;
		text-align: right;
		opacity: 0.5;
		font-size: 10px;
	}
}
